html, body{
    margin: 0;
    background-color: #2f4f30;
}

.titulo{
    background-color: black;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
    /* display: none; */
}

#jugador-cartas, #computadora-cartas{
    height: 240px;
}

/* .activa{
    display: inline;
} */

